{{ ansible_managed | comment }}
[Unit]
Description=Docker system prune
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune -af --filter "{{ docker_prune_filter }}"
