{{ ansible_managed | comment }}
[Unit]
Description="Muffin's Cache Mover Script."
After=network.target

[Service]
Type=oneshot
ExecStart={{ cache_mover_dir }}/venv/bin/python {{ cache_mover_dir }}/cache-mover.py --config {{ cache_mover_dir }}/config.yml
WorkingDirectory={{ cache_mover_dir }}

[Install]
WantedBy=multi-user.target
